<div class="sk-loading">
  <span class="loader">
     <svg _ngcontent-c3="" height="30" stroke="#000" viewBox="3 0 26 38" width="40" xmlns="http://www.w3.org/2000/svg">
          <g _ngcontent-c3="" fill="none" fill-rule="evenodd">
              <g _ngcontent-c3="" stroke-width="2" transform="translate(1 1)">
                  <circle _ngcontent-c3="" cx="18" cy="18" r="18" stroke-opacity=".5"></circle>
                  <path _ngcontent-c3="" d="M36 18c0-9.94-8.06-18-18-18" transform="rotate(265.454 18 18)">
                      <animateTransform _ngcontent-c3="" attributeName="transform" dur="1s" from="0 18 18" repeatCount="indefinite" to="360 18 18" type="rotate"></animateTransform>
                  </path>
              </g>
          </g>
      </svg>
      <p *ngIf="info">Loading...</p>
    </span>
</div>
