/**padding**/
$padding: 0.1rem;

/**margin***/
$margin: 0.1rem;


/*font-size*/
$rootFontSize: 0.16rem;
$smallestFontSize: 0.1rem;
$smallFontSize: 0.12rem;
$normalFontSize: 0.14rem;
$bigFontSize: 0.16rem;
$biggerFontSize: 0.2rem;


//color
$green: #00aa00;
$deepBlack: #000;
$black: #444;
$gray: #999;
$disabledColor: #aaa;
$disabledFontColor: #ddd;
$golden: #ad8f3f;
$grayBorderColor: #ccc;
$btnColor: #fff;
$bodyBack: #efeff4;
$mainContentBack: #fff; // 页面主内容的背景色

  //distance
$innerTop: 8px;
$outerTop: 16px;
$innerDistance: 6px;
$paddingLeft: 10px;
$paddingRight: 10px;

//按钮圆角
$btnRadius: 4px;
