<div class="mui-dtpicker" data-type="datetime">
  <div class="mui-dtpicker-header">
    <button data-id="btn-cancel" class="mui-btn">取消</button>
    <button data-id="btn-ok" class="mui-btn mui-btn-blue">确定</button>
  </div>

  <div class="mui-dtpicker-title">
    <h5 data-id="title-y">年</h5>
    <h5 data-id="title-m">月</h5>
    <h5 data-id="title-d">日</h5>
    <h5 data-id="title-h">时</h5>
    <h5 data-id="title-i">分</h5>
  </div>

  <div class="mui-dtpicker-body">

    <div data-id="picker-y" class="mui-picker">
      <div class="mui-picker-inner">
        <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
        <ul class="mui-pciker-list">
        </ul>
        <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
      </div>
    </div>

    <div data-id="picker-m" class="mui-picker">
      <div class="mui-picker-inner">
        <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
        <ul class="mui-pciker-list">
        </ul>
        <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
      </div>
    </div>

    <div data-id="picker-d" class="mui-picker">
      <div class="mui-picker-inner">
        <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
        <ul class="mui-pciker-list">
        </ul>
        <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
      </div>
    </div>

    <div data-id="picker-h" class="mui-picker">
      <div class="mui-picker-inner">
        <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
        <ul class="mui-pciker-list">
        </ul>
        <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
      </div>
    </div>

    <div data-id="picker-i" class="mui-picker">
      <div class="mui-picker-inner">
        <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
        <ul class="mui-pciker-list">
        </ul>
        <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
      </div>
    </div>

  </div>
</div>
