<app-sk-scroll (skPullDownRefresh)="onRefersh($event);" [hasMore]="true" hasRefresh="true" (skLoadMore)="onLoadMore($event)">
  <div class="bottom-slot">
    <p>没有数据 ...</p>
  </div>
  <div class="main-slot" style="padding: 10px;">
    <p>appTouch.prototype = move : function(e) var monitor = document.getElementById(this.touchContain), //监听容器target = document.getElementById(this.touchMove), //移动目标scroller = document.getElementById(this.touchScroller), //自定义滚动条scrollerArea = document.getElementById(this.touchScrollerArea), //滚动条区域sheight = monitor.offsetHeight / target.offsetHeight * monitor.offsetHeight, //自定义滚动条的长度st = (target.offsetHeight - monitor.offsetHeight) / (monitor.offsetHeight - sheight), //移动块对应滚轮单位长度tslow = 4, //到顶/底减基数tMove = 0, //滑块到顶top值tMoveL = tMove + 140, //到顶允许下拉范围bMove = monitor.offsetHeight - target.offsetHeight, //滑块到底top值bMoveL = bMove - 140, //到底允许上滑范围callbackfn = this.callbackfn, //回调函数flg = false, //标记是否滑动</p>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <h1>This is temp</h1>
    <p>{{ counter | async }}</p>
    <p>{{ counter | async }}</p>
    <h1 (tap)="onSwipe($event)" >Hello i18n</h1>
    <app-sk-btn [label]="'HELLO'|translate: {value: 'pccold'}" (skTap)="onTap()"></app-sk-btn>
  </div>
</app-sk-scroll>
<!--The content below is only a placeholder and can be replaced.-->

<app-sk-mask #mask (hideEvt)="set()" [ifShow]="false"></app-sk-mask>
<router-outlet></router-outlet>
