@import "../../../app/theme/variables";

.sk-scroll-wrapper {
    background-color: $bodyBack;
}

.sk-scroll-wrapper .sk-scroll {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
