@import "../../../app/theme/variables";
<<<<<<< HEAD
.sk-scroll-wrapper{
  background-color: $bodyBack;
}
.sk-scroll-wrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.sk-scroll{
  background-color: $mainContentBack;
  overflow: hidden;
  z-index: 2;
  transition-property: transform;
  transition-duration: 0ms;
  transition-timing-function: linear;
  transform: translate(0px, -10px);
=======

.sk-scroll-wrapper {
    background-color: $bodyBack;
>>>>>>> 528c4ab58fa6b4356f3a141b417861320203729f
}

.sk-scroll-wrapper .sk-scroll {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.log{
  position: fixed;
  z-index: 100000;
  background: #444;
  color: #0FE4B3;
  width: 100%;
  top: 0px;
  left: 0px;
  line-height: 20px;
  padding: 20px 10px;
  opacity: 0.9;
}
